{% extends 'base.html' %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-expand">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{%url 'home'%}" style="margin-left: 10%;">Sunflower School</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<div class="container">
    <label for="branch">Branch </label>
    
    <div>
        <span><a href="{%url 'completeFilter' branch='All'%}">All</a></span>
        <span><a href="{%url 'completeFilter' branch='CSE'%}">CSE</a></span>
        <span><a href="{%url 'completeFilter' branch='IT'%}">IT</a></span>
        <span><a href="{%url 'completeFilter' branch='ECE'%}">ECE</a></span>

        <form action="{%url 'search'%}">
            <label for="search"></label>
            <input type="text" name="searchText">
            <input type="submit">
        </form>

    </div>

    <br>
    <br>


    <table class="table table-striped table-hover table-bordered table-responsive" style="text-align: center;">
    
        <tr class="table-dark ">
          <th>Student ID</th>
          <th>Name</th>
          <th>DOB</th>
          <th>Parent Name</th>
          <th>Addrees</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Branch</th>
          <th>Marks</th>
        </tr>
    
    {%for student in students%}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.first_name}} {{student.last_name}}</td>
            <td>{{student.DOB}}</td>
            <td>{{student.parent_name}}</td>
            <td>{{student.address}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.email}}</td>
            <td>{{student.branch}}</td>
            <td><a href="{%url 'marks' id=student.id%}">Click-here for Marks</a></td>
        </tr>
    {% endfor %}
    
    </table>
</div>
{% endblock %}